# Patterns to ignore when building Helm packages.
# Mirrors .gitignore-style globbing.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# CI / docs that should not ship inside the packaged chart
ci/
README.md.gotmpl
